.navbar{
    
    background-color:#0c3d5e;
}

.nav-link{
    color: white;
}

.navbar .navbar-nav .nav-item a:hover{
    border-bottom: 1px solid #FFF;
    padding-bottom: 6px;        
}

.navbar .navbar-nav .nav-item a{
    color: #FFF;
}

.navbar .toggler-icon{
    background-color: #ffffff;
}

#textS{
    color: #0c3d5e;
}

.media-body{
    line-height: 1.5;
    margin: auto;
    margin-bottom: 100px;
    max-width: 700px; 
}

.btAlterar .btn-alterar{
    background-color: #e86c29;
    color: white;
}

.btAlterar .btn-alterar:hover{
    background-color: white;
    color: #e86c29;
}

#btnDivulgar{
    color: white;
}

.h3s{
    color: #e86c29;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.marketing .col-lg-4 {
  margin-bottom: 2.0rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

#btnServico{
    background: #e86c29;
}
.navbar .btnDivulgar{
    background-color: #e86c29;
    color: aliceblue;
}

.navbar .btnDivulgar:hover{
    background-color: aliceblue;
    color: #e86c29;
}
.faixalaranja {
    background-color: chocolate;
    text-align: center;
    color: white;
    margin: all;
    padding: 5px 15px;
    text-justify: center;
}


#sb{
  font-size: 20px;
  color: black;
}

#sb2{
    font-size: 18px;
    line-height: 1.5;
    max-width: 450px;   
    color: black;
}

#botoesServicos{
    background: #ea9d73;
}

#titulo{
    
    color: white;
}

#st{
    font-size: 21px;
}

#p1{
    font: arial;
    font-size: 16px;
}


#btnLogin{
    background-color: #0c3d5e;
}

#h1Login{
    color: #0c3d5e;
}


#bntCS{
    background-color: #0c3d5e;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#btnC{
    background-color: #e86c29;
}
#pc{
    font-size: 20px;    
    
}

.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@import "http://nyplintranet-training.appspot.com/css/themes/nypl/main.css";

/* equal card height */
.row-equal>div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
    width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active,
.carousel-inner>.row-equal.next,
.carousel-inner>.row-equal.prev {
    display: flex;
    background: white;
}
/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left,
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}

nav > .nav.nav-tabs{

    border: none;
    color:#fff;
    background:#0e3047;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
    border: none;
    padding: 18px 25px;
    color:#fff;
    background:#0e3047;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
{
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #e86c29;
}
.tab-content{
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #e86c29;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
    border: none;
    background: #e86c29;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}

.servicoscontratados img{
  height:150px;
  width:100%;
}

.servicoscontratados div [class^="col-"]{
  padding-left:5px;
  padding-right:5px;
}

.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #33419d;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: white;
    background-color: #e86c29;
    cursor: pointer;
}
.profile-edit-btn:hover{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: wite;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:7%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

.card{
  transition:0.5s;
  cursor:pointer;
}
.card-title{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
}
.card-title i{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
  color:white;
}
.card-title i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:80px;  
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}
	.contact{
		padding: 4%;
		height: 700px;
        width: 200px;
	}
	.col-md-3{
		background: white;
		padding: 4%;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
	}
	.contact-info{
		margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}
	.col-md-9{
		background: #fff;
		padding: 3%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	.contact-form label{
		font-weight:600;
	}
.contact-form button{
		color: #fff;
		font-weight: 600;
		width: 25%;
	}
	.contact-form button:focus{
		box-shadow:none;
	}    
        
    }
