.navbar{
    background-color: #0c3d5e; 
}

.navbar .navbar-nav .nav-item a{
    font-family: "Arial";
    box-sizing: border-box;
    text-align: justify;
    padding: 5px 15px;
    color: #FFF;
}

.navbar .navbar-nav .nav-item a:hover{
    border-bottom: 1px solid #FFF;
            
}

.navbar .btnDivulgar{
    background-color: #e86c29;
    color: aliceblue;
}

.navbar .btnDivulgar:hover{
    background-color: aliceblue;
    color: #e86c29;
}

.navbar .toggler-icon{
    background-color: #ffffff;
}

.navbar .nav-item .dropdown-menu .dropdown-item{
    color: #0c3d5e;
}

.navbar .nav-item .dropdown-item:hover{
    color: #0c3d5e;
    background-color: #f9f9f9;
}

.navServicos{
    background-color:#e86c29; 
}

.navServicos .nav-pills .nav-item a{
    font-family: "Arial";
    box-sizing: border-box;
    text-align: center;
    padding: 5px 15px;
    color: #FFF;
}

.navServicos .nav-pills .nav-item a:hover{
    background-color: #0c3d5e;  
}

#btnServico{
    background: #e86c29;
}

.primeirarow {
    background-color: #0c3d5e;
    background-size: auto 6px;
    color: white;
}

.faixalaranja {
    background-color: chocolate;
    text-align: center;
    color: white;
    margin: all;
    padding: 5px 15px;
    text-justify: center;
}

.faixa-azul {
    background-color: #0c3d5e;
    text-align: center;
    color: white;
    margin: all;
    padding: 5px 15px;
    text-justify: center;
}

.card .btn {
    background-color: #0c3d5e;
    color: aliceblue;
}

.card .btn:hover{
    background-color: #356483;
    color: aliceblue;
}


.titulo{
    color: #0c3d5e;
}

.textcolor .h5{
    color: :#e86c29;
}

.si {
    color: #fff;
    font-weight: 300;
}

@import "http://nyplintranet-training.appspot.com/css/themes/nypl/main.css";

/* equal card height */
.row-equal>div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
    width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active,
.carousel-inner>.row-equal.next,
.carousel-inner>.row-equal.prev {
    display: flex;
}
/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left,
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}

nav > .nav.nav-tabs{

    border: none;
    color:#fff;
    background:#0e3047;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
    border: none;
    padding: 18px 25px;
    color:#fff;
    background:#0e3047;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
{
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #e86c29;
}

.tab-content{
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #e86c29;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
    border: none;
    background: #e86c29;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}

.servicoscontratados img{
  height:150px;
  width:100%;
}

.servicoscontratados div [class^="col-"]{
  padding-left:5px;
  padding-right:5px;
}
.card{
  transition:0.5s;
  cursor:pointer;
}
.card-title{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
}
.card-title i{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
  color:#ffa710
}
.card-title i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:80px;  
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}



/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


.btn-primary:hover,
.btn-primary:focus {
    background-color: #164a6d;
    border-color: #164a6d;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #0c3d5e;
    border-color: #0c3d5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #e86c29;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #e86c29 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #e86c29 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.table{
    background-color: #f5f5f5;
}

.titulo-alvenaria{
    background-image: url(img/alvenariacapa.jpg);
    
}
.titulo-eletrica{
    background-image: url(img/eletricacapa.jpg);
}
.titulo-hidraulica{
    background-image: url(img/hidraulicacapa.jpg);
    
}
.titulo-pintura{
    background-image: url(img/pinturacapa.jpg);
    
}
.titulo-refrigeracao{
    background-image: url(img/refrigeracaocapa.jpg);
    
}
.titulo-reparos{
    background-image: url(img/reparoscapa.jpeg);
    
}

.servicos img{
  height:240px;
  width:100%;    
}

.servicos h4{
    text-transform: uppercase;
}

.btn-servicos{
	background-color: chocolate;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 5.14rem;
    margin: 0;
    border: 0;
    border-radius: .125rem;
    cursor: pointer;
    align-content: center;
    color: #fff;
}


.thumbnail-wrapper {
    display:inline-block;
    position:relative;
}
.thumbnail-wrapper button {
    position:absolute;
    top:77%;
    left:77%;
    -webkit-transform:translate3d(-50%, -50%, 0);
    -moz-transform:translate3d(-50%, -50%, 0);
    transform:translate3d(-50%, -50%, 0);
}

.thumbnail-wrapper button:hover{
    background-color: aqua;  
}

.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #33419d;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: white;
    background-color: #e86c29;
    cursor: pointer;
}
.profile-edit-btn:hover{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: white;
    background-color: chocolate;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

#botoesServicos: hover{
    background-color: aliceblue;
}