<!DOCTYPE html>
<html xmlns= "http://w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/style1.css">
	<link type="text/css" href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">	
 	<script src="/jquery/dist/jquery.min.js"></script>
 	<script type="module" src="/popper.js/dist/popper.min.js"></script>
 	<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
		<style>
     .container {
       padding: 2rem 0rem;
     }
     .table .thead-light th {
       color: white;
       background-color: #0c3d5e;
       border-color: #092c44;
    </style>
</head>

<body>

 <div th:insert="fragments.html :: navbarperfil"></div>
 
  <br><br><br>
   <div th:insert="fragments.html :: sidebarprestador"></div>	

  <div id="main">
    <div class="container-fluid">
    	          <div class="justify-content-start">            
    	                                                  
            <form th:object="${servicoOB}" th:action="@{/alterars}" th:method="POST" enctype="multipart/form-data" >  
            <div class="col-md-8 order-md-1">                                                           
		 		<img alt="Image" height="100px" width="140px"  onerror = 'this.src = "/img/default-img.jpg"' th:src="|/imagem/${servicoOB.id}|">					             
           
              <div class="form-group">
				  <input type="file" name="fileServico" id="fileServico" lang="pt">
				  <label  for="fileServico">Selecionar arquivo</label>
			 </div>		
              
              <div class="form-group">
                <label for="se">ID:</label>
                <input type="number" name="se" id="se" class="form-control" th:field="*{id}">
              </div>   
              
              <div class="form-group">            
                <label for="titulotop">Título:</label>
                <input class="form-control" id="titulotop" th:field="*{titulo}">
              </div> 
              
              <div class="form-group">
                <label for="descricao">Descrição:</label>
                <textarea class="form-control" id="descricao" th:field="*{descricao}" rows="2"></textarea>
              </div>
              
              <div class="form-group">
                <label for="coategoria">Categoria:</label>
                <select class="custom-select d-block w-100 shadow" id="categoria" th:field="*{categoria}">
				    <option value="alvenaria">Alvenaria</option>
				    <option value="eletrica">Elétrica</option>
				    <option value="hidraulica">Hidraúlica</option>
				    <option value="refrigeracao">Refrigeração</option>
				    <option value="reparos">Reparos</option>
				    <option value="pintura">Pintura</option>
				</select>
              </div>
              
              <div class="form-group">
                <label for="comboZona">Zona:</label>
                <select class="custom-select d-block w-100 shadow" id="zona" th:field="*{zona}">
				    <option value="norte">Norte</option>
				    <option value="leste">Leste</option>
				    <option value="oeste">Oeste</option>
				    <option value="centro-sul">Centro-Sul</option>
				    <option value="centro-oeste">Centro-Oeste</option>
				</select>
              </div>
              
              <div class="form-group">
                <label for="preco">Preço mínimo(opcional):</label>
                <input class="form-control" id="preco" th:field="*{preco}">
              </div>                                 
                               
              <div class="justify-content-end">             	              
              <button class="btn btn-outline" style="background: #e86c29;" id="btnDivulgar" type="submit">Divulgar!</button>
              </div>             
              </div>              
            </form>                     
          </div>               
        </div>    
  </div>  

  <script>
    var mini = true;

    function toggleSidebar() {
      if (mini) {
        console.log("opening sidebar");
        document.getElementById("mySidebar").style.width = "300px";
        document.getElementById("main").style.marginLeft = "300px";
        this.mini = false;
      } else {
        console.log("closing sidebar");
        document.getElementById("mySidebar").style.width = "86px";
        document.getElementById("main").style.marginLeft = "86px";
        this.mini = true;
      }
    }

  </script>
  
  <script>
$ (document) .ready (function () {
  $ ("img"). bind ("erro", function () {
    // Defina a imagem padrão
    $ (this) .attr ("src", "/img/default-img.jpg");
  });
});
</script>

</body>
</html>
