<!DOCTYPE html>
<html xmlns= "http://w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="/style1.css">
	<link type="text/css" href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">	
 	<script src="/jquery/dist/jquery.min.js"></script>
 	<script type="module" src="/popper.js/dist/popper.min.js"></script>
 	<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  
    <style>
     .container {
       padding: 2rem 0rem;
     }
     .table .thead-light th {
       color: white;
       background-color: #0c3d5e;
       border-color: #092c44;
    </style>
</head>

<body>

   <div th:insert="fragments.html :: navbarperfil"></div>

  <br><br><br>
   	<div th:insert="fragments.html :: sidebarcliente"></div>
   
    	
  <div id="main">
    <div class="container-fluid">
	<br>
      <h3>Serviços contratados</h3>
      <h6>Serviços que foram entregues para clientes do Conserta Aqui</h6>
    <br>	
                  <label><h6>Pesquisa por nome</h6></label>
                  <div class="input-group">
                    <input type="text" class="form-control shadow mb-4" placeholder="Pesquise aqui" id="myInput">
                    <div class="input-group-btn">
                      <button class="btn btnPesquisarS" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                  </div>       
                <br>
           <br>
    	 <div class="table-responsive">
        		<table class="table table-hover">
              		<thead>
					    <tr class="text-center">
					      <th scope="co-lg">ID</th>
					      <th scope="co-lg">Título Servico</th>
					      <th scope="co-lg">Finalizado em:</th>
					      <th scope="co-lg">Preço</th>
					      <th scope="co-lg">Cliente ID</th>
					      <th scope="co-lg">Serviço ID</th>
					      <th scope="co-lg"></th>							      			    				   
					    </tr>
					  </thead>
					  <tbody class="text-center" id="myTable">
					    <tr th:each="cf : ${contratosF}">
						    <td th:text="${cf.id}"></td>
						    <td th:text="${cf.servico.titulo}"></td>
						    <td th:text="${cf.dataFim}"></td>
						    <td th:text="${cf.preco}"></td>
						    <td th:text="${cf.usuario.id}"></td>
						    <td th:text="${cf.servico.id}"></td>	
						    <td class="td-number">
						    <a  class="btn btn-outline-warning" data-toggle="modal" data-target="#avaliacaoP"><i class="fa fa-smile-o" aria-hidden="true"></i>
						    </a></td>		    						    
					    </tr>
					    </tbody>			
            </table>
            </div>
      <br><br><br><br><br>
    </div>    
  </div>  
<!-- Modal -->
<div class="modal fade" id="avaliacaoP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Avaliação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Avalie o serviço do prestador</h5>
        <form th:action="@{/avaliarcontrato}" th:object="${avaliacaoOB}" th:method="POST">
        <div class="vote">
			<label>
			    <input type="radio" value="1" th:field="*{valor}"/>
			    <i class="fa"></i>
			</label>
			<label>
			    <input type="radio" value="2" th:field="*{valor}"/>
			    <i class="fa"></i>
			</label>
			<label>
			    <input type="radio" value="3" th:field="*{valor}"/>
			    <i class="fa"></i>
			</label>
			<label>
			    <input type="radio" value="4" th:field="*{valor}"/>
			    <i class="fa"></i>
			</label>
			<label>
			    <input type="radio" value="5" th:field="*{valor}"/>
			    <i class="fa"></i>
			</label>
        </div>
 		<br>
        <a type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
        <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</div>
    
  <script>
    var mini = true;

    function toggleSidebar() {
      if (mini) {
        console.log("opening sidebar");
        document.getElementById("mySidebar").style.width = "300px";
        document.getElementById("main").style.marginLeft = "300px";
        this.mini = false;
      } else {
        console.log("closing sidebar");
        document.getElementById("mySidebar").style.width = "86px";
        document.getElementById("main").style.marginLeft = "86px";
        this.mini = true;
      }
    }

  </script>
  
  <script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<script>
$('.vote label i.fa').on('click mouseover',function(){
    // remove classe ativa de todas as estrelas
    $('.vote label i.fa').removeClass('active');
    // pegar o valor do input da estrela clicada
    var val = $(this).prev('input').val();
    //percorrer todas as estrelas
    $('.vote label i.fa').each(function(){
        /* checar de o valor clicado é menor ou igual do input atual
        *  se sim, adicionar classe active
        */
        var $input = $(this).prev('input');
        if($input.val() <= val){
            $(this).addClass('active');
        }
    });    
});
//Ao sair da div vote
$('.vote').mouseleave(function(){
    //pegar o valor clicado
    var val = $(this).find('input:checked').val();
    //se nenhum foi clicado remover classe de todos
    if(val == undefined ){
        $('.vote label i.fa').removeClass('active');
    } else { 
        //percorrer todas as estrelas
        $('.vote label i.fa').each(function(){
            /* Testar o input atual do laço com o valor clicado
            *  se maior, remover classe, senão adicionar classe
            */
            var $input = $(this).prev('input');
            if($input.val() > val){
                $(this).removeClass('active');
            } else {
                $(this).addClass('active');
            }
        });
    }
});
</script>

</body>
</html>